html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerutama {
  padding: 10px 0px;
  font-size: 20px;
  background-color: rgb(32, 28, 48);
  position: fixed;
  z-index: 999;
  width: 100%;
}

nav {
  text-align: left;
  display: flex;
}

nav ul li a {
  font-size: 20px;
  font-weight: 200px;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  opacity: 0.5;
  transition: opacity 0.5s ease;
  align-items: center;
}

nav ul li a:hover {
  background-color: rgb(240, 240, 241);
  color: rgb(60, 47, 82);
  opacity: 1;
}

nav ul {
  display: flex;
  gap: 50px;
  align-items: center;
  list-style: none;
  margin: 0;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 250px;
  display: none;
  box-shadow: 0 3px 8px;
  border-radius: 20px;
  background-color: #ffffff;
  top: 145%;
  left: 0;
}

.dropdown-menu a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  font-weight: bold;
  margin: 0;
}

.dropdown.menu li {
  padding: 0;
  margin: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a:hover {
  background-color: rgb(81, 81, 81);
  color: rgb(255, 255, 255);
  opacity: 1;
}

.imglogo2{
    position: absolute;
    align-items: center;
    margin: -20px 0 0 76rem;
    
}

/* main */

.homepageutama {
  background-image: linear-gradient(rgb(32, 28, 48), rgb(47, 47, 47));
  position: relative;
  height: 100vh;
}

.imghome {
  position: absolute;
  right: 0;
  margin: 60px 0 0 0;
  animation: slideLeft 2s ease forwards;
}
@keyframes slideLeft{
    from{
        opacity: 0;
        transform: translateX(50px);
    }to{
        opacity: 100%;
        transform: translateX(0);
    }
}

.welcome {
  margin: 350px 0 0 250px;
  position: absolute;
  text-align: left;
}

.welcome h1 {
  animation: slideIn 1.8s ease forwards;
  color: white;
  font-size: 50px;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

.welcome h3 {
  animation: fadeIn 4s ease forwards;
  color: white;
  font-size: 30px;
}
@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.welcome p{
    padding: 20px 0;
    text-align: left;
    margin: 0 20px 0 0;
    width: 900px;
    font-size: 20px;
    color: white;
    animation: moveLeft 2s ease forwards;
}
@keyframes moveLeft{
    from{
        opacity: 0;
        transform: translateY(30%);
    }
    to{
        opacity: 100%;
        transform: translateY(0);
    }
}

.iconsosmed {
  position: absolute;
  z-index: 90;
  border-radius: 0 20px 20px 0;
  left: 0;
  top: 35%;
  background-color: rgb(69, 57, 92);
  list-style: none;
  animation: moveRight 2s ease forwards;
}

@keyframes moveRight {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

.iconsosmed ul{
    padding: 10px 15px;
}

.iconsosmed li {
  list-style: none;
  text-align: center;
  padding: 25px 10px;
}

.iconsosmed i {
  color: white;
  transition: transform 0.3s ease, color 0.4s ease;
}
.iconsosmed i:hover {
  color: rgb(227, 166, 45);
  transform: scale(1.3);
}

.arrowdown{
    position: absolute;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    color: rgb(69, 57, 92);
    text-decoration: none;
    top: 75%;
    left: 30%;
}

.arrowdown:hover{
  background-color: rgb(227, 166, 45);
  transform: scale(1.2);
  color: white;
}

.konten1 {
  height: 100vh;
  text-align: left;
  padding: 90px 90px;
  background-image: linear-gradient(rgb(32, 28, 48), rgb(47, 47, 47));
}

.card1 {
  overflow: hidden;
  box-shadow: 0 2px 6px;
  border-radius: 20px;
  padding: 20px 30px;
}

.card1 h2 {
  text-align: center;
  font-size: 50px;
  color: white;
}

.container1 {
  display: flex;
}
.card1 p {
  position: left;
  padding: 10px px;
  margin: 0 20px 0 20px;
  font-size: 25px;
  text-align: justify;
  color: white;
}

.konten2 {
  height: 100vh;
  text-align: left;
  padding: 90px 90px;
  background-image: linear-gradient(rgb(32, 28, 48), rgb(47, 47, 47));
}

.card2 {
  overflow: hidden;
  box-shadow: 0 2px 6px;
  border-radius: 20px;
  padding: 20px 30px;
}

.card2 h2 {
  text-align: center;
  font-size: 50px;
  color: white;
}

.container2 {
  display: flex;
}

.card2 p {
  position: left;
  padding: 10px px;
  margin: 0 20px 0 20px;
  font-size: 25px;
  text-align: justify;
  color: white;
}

.konten3 {
  height: 100vh;
  padding: 90px 90px;
  text-align: left;
  background-image: linear-gradient(rgb(32, 28, 48), rgb(47, 47, 47));
}

.card3 {
  overflow: hidden;
  box-shadow: 0 2px 6px;
  border-radius: 20px;
  padding: 20px 30px;
}

.card3 h2 {
  text-align: center;
  font-size: 50px;
  color: white;
}

.container3 {
  display: flex;
}

.card3 p {
  position: left;
  padding: 10px px;
  margin: 0 20px 0 20px;
  font-size: 25px;
  text-align: justify;
  color: white;
}

.konten4 {
  height: 100vh;
  padding: 90px;
  text-align: left;
  background-image: linear-gradient(rgb(32, 28, 48), rgb(47, 47, 47));
}

.card4 {
  overflow: hidden;
  box-shadow: 0 2px 6px;
  border-radius: 20px;
  padding: 20px 30px;
}

.card4 h2 {
  text-align: center;
  font-size: 50px;
  color: white;
}

.container4 {
  display: flex;
}

.card4 p {
  position: left;
  padding: 10px px;
  margin: 0 20px 0 20px;
  font-size: 25px;
  text-align: justify;
  color: white;
}
/* footer */

footer {
  padding: 20px;
  color: white;
  background-color: #1b5035;
  text-align: center;
}
