
html{
    scroll-behavior: smooth;
    
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerutama{
    padding: 20px;
    font-size: 20px;
    background: #1b5035;
    text-align: center;
    color: white;
}

nav{
    text-align: center;
}

nav a{
    font-size: 25px;
    font-weight: 200px;
    text-decoration: none;
    color: black;
    padding: 10px 50px;
}
nav a:hover{
    background-color: #1b5035;
    color: white;
    
}

nav li{
    display: inline;
    list-style: none;

}

.dropdown{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    padding: 0;
    margin: 0;
    width: 250px;
    display: none;
    box-shadow: 0 3px 8px;
    border-radius: 5px;
    background-color: #ffffff;
    top: 170%;
    left: 0;
}

.dropdown-menu a{
    display: block;
    color: black;
    padding: 10px 15px;
    margin: 0;
}

.dropdown.menu li{
    padding: 0;
    margin: 0;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu a:hover{
    background-color: #1b5035;
}


/* main */
.konten1{
    height: 70vh;
    background-image: url(/foto-aset/kota-jambi.jpg);
}

.konten1 p{
    margin: 200px 300px 0 200px;
    font-size: 25px;
}

.text1{
    width: 700px;
    border: 1px;
    padding: 10px;
}




/* footer */

footer{
    padding: 20px;
    color: white;
    background-color: #1b5035;
    text-align: center;
}